[Unit]
Description={{ description }}
{% if before is defined %}
Before={{ before }}.target
{% endif %}

[Service]
ExecStart={{ exec }}
{% if type is defined %}
Type={{ type }}
{% endif %}
{% for env_pair in env | default([]) %}
{% for k, v in env_pair.items() %}
Environment={{ k }}={{ v }}
{% endfor %}
{% endfor %}
{% if service_options is defined %}
{% for k, v in service_options.items() %}
{{ k }}={{ v }}
{% endfor %}
{% endif %}
{% if service_user is defined %}
User={{ service_user }}
{% endif %}

[Install]
WantedBy={{ wanted_by | default('default') }}.target
